
.main-works-page{
    display: flex;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    animation: fadein 1s;
}

//pics and nav stuff

.slideshow-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width:80vw;
}


.view-container{
    width: 1000px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // position: relative;
}
.main-display{
    width:100%;
    height:500px;
    display:flex;
    align-content: center !important;
    justify-content: center;
}
.main-display svg{
    align-self: center;
}
.nav-content{
    width: 880px;
    height: 50px;
    margin-top: 20px;
    background-image: url(../assets/pencil.svg);
    background-repeat: no-repeat, repeat;
    background-size: 880px 50px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.pictures{
    width:880px;
    padding:20px;
    background-image: url(../assets/notebook.svg);
    background-repeat: no-repeat, repeat;
    background-size: 880px 500px;
    display:flex;
    align-items: center;
    justify-content: center;
    .photo-container{
        position:relative;
        overflow: hidden;
        width: 680px;
        height: 400px;
        margin-left:40px;
        .centered-photo{
            // position:absolute;
            // top:0px;
            // width:100%;
            // height:100%;
            min-width: 680px;
            height: 400px;
            //width:100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .photo{
                max-width: 680px;
                max-height: 400px;
            }
        }
    }
}


.center{
    left:0px;
    z-index:1;
}
.left{
    animation: left-move .2s linear;
    z-index:2;
}
.right{
    animation: right-move .2s linear;
    z-index:2;
}
.slide-indicator > * {
    margin:5px;
}

//text

.text{
    max-width: 1000px;
}
.modal{
    display: none;
}
.text p{
    font-size:20px;
}

//nav buttons

.hidden-nav{
    visibility:hidden;
    margin-right:20px;
}
.gone{
    display:none;
}
.pc-nav-button{
    margin-right:20px;
    visibility:visible;
    display:block;
}

.mobile-nav-buttons{
    display:none;
}



//side-menu
.side-menu-button-container{
    display: flex;
    flex-direction: column;
    margin:20px;
}
.side-menu-button{
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
}
.external-link{
    font-size: xx-large;
    color: #101b13;
    z-index:1;
    color: inherit;
    border: 1px solid;
    padding: 10px;
    border-radius: 20px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    background: none;
    position: relative; 
}
.external-link span{
    font-size: xx-large;
}


.external-link:after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: "";
    background: rgba(246,251,255,0.8);
    border-radius: 20px;
    width: 0;
    height: 0;
    transition: all .5s;
    z-index:-1;
  }
  
  .external-link:hover:after {
    width: 100%;
    height: 100%;
  }




.selected-button{
    color:#101b13;
}

.unselected-button{
    color:#6a7f7a;
}


@keyframes radial-fill {
    0% {
        background:radial-gradient( rgba(221,221,221,0.5) 0%,  rgba(251,250,244,0.0) 2%);
        //background: rgba(251,250,244,0.0);
    }
    100% {
        //background: rgba(221,221,221,0.5);
        background:radial-gradient( rgba(221,221,221,0.5) 100%,  rgba(251,250,244,0.0) 100%);
    }
  }

@keyframes left-move {
    0% {
      left:700px;
      
      
    }
    100% {
      left:0px
    }
  }

  @keyframes right-move {
    0% {
      left:-700px;
      
      
    }
    100% {
      left:0px
    }
  }

@media (min-width: 0px) and (max-width: 1000px) {
    .main-works-page{
        flex-direction: column-reverse;
        width:100%;
        align-items: center;
    }

    .slideshow-container{
        width:100%;
    }
    .side-menu-button-container{
        display: flex;
        flex-direction: column;
        // margin:20px 50px 20px 20px;
    }
    .view-container{
        height:300px;
        width:300px;
    }
    .main-display{
        width:100%;
        height:200px;
        display:flex;
        flex-direction: column;
        align-content: center !important;
        justify-content: center;
    }
    .nav-content{
        width: 300px;
        height: 50px;
        margin-top: 20px;
        background-image: url(../assets/pencil.svg);
        background-repeat: no-repeat, repeat;
        background-size: 300px 50px;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .pictures{
        width:300px;
        height:200px;
        background-image: none;
        background-size: 300px 400px;
        padding:0px;
        // margin:0px 15px 0px 15px;
        .photo-container{
            width: 300px;
            height: 200px;
            margin-left:0px;
            margin-top:0px;
            .centered-photo{
                
                // width:100%;
                // height:100%;
                min-width: 300px;
                height: 200px;
                
                .photo{
                    max-width: 280px;
                    max-height: 200px;
                }
            }
        }
    }

    .text{
        display:none;
    }
    .modal{
        display: block;
    }
    // .hidden-nav{
    //     padding:7px;
    // }
    .mobile-nav-buttons{
        max-height: 20px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .mobile-nav-button{
        overflow: visible;
        margin-right: 0;
        height:40px;
        width:40px;
    }
    .pc-nav-button{
        display:none;
    }
    .slide-indicator {
        padding-top:7px;
    }

    .side-menu-button{
        // margin-left: 20px;
    }       
    
  }